.container {
    margin-top: 50px;
  }
  
  .artist-card {
    display: inline-block;
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  body
  {
    background-color: rgb(252, 252, 239);
  }
  .artist-card h2,
  .artist-card p {
    margin: 0;
  }
  
  .artist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 1200px;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  